@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px 0px 50px;
    align-items:center;
  position:fixed;
  width:100%;
 z-index:9999;
}

nav .logo{
    width:4rem;
    margin-top:-10px;
    padding:0;
    height:70px
}
nav .logo>img{
    width:100%;
   height:100%;
}

nav .list{
    display:flex;
    gap:20px;
}

.list h3{
transition:0.5s ease;
font-size:20px;
 cursor:pointer;
    color:#b91c1c;
 font-weight:500;
padding:10px;
font-family: Poppins;
font-weight:600;
}


.list h3:hover{
  color: #FA9514;
}

nav .links{
    display:flex;
gap:10px;
}

.cart span{
  font-size:40px;
 color:#dc2626;
 cursor:pointer;
 transition:0.5s ease;  
}

.cart span:hover{
    color:#FA9514;
    font-size:32px;
}